<h1>Restablecimiento de contrase単a</h1>
<p>>Hola, {{names}}.</p> 
<p>Para restablecer tu contrase単a, haz clic en el siguiente enlace:</p>
<a href="{{resetLink}}">Restablecer Contrase単a</a>
<p>Si no solicitaste un restablecimiento de contrase単a, ignora este correo.</p>
